@media only screen and (max-width: 600px) {
  *{
    font-size: 14pt;
  }
  .menu-toggle{
    margin-top: 3%;
  }
  
  .logo{
    height: 105px;
    width: 170px;
      padding: 0 10px;
  }
  #what{
    height: 30px;
    width: 30px;
  }
  #sidebar-wrapper{
    background-color: black;
  }
  #sidebar-brand{
    background-color: rgba(127, 117, 117, 0.423);
  }
  #prova1{
    width: 120px;
    padding-bottom: 5px;
    background-image: -webkit-linear-gradient( #522b5b, #854f6c, #dfb6b2, #fbe4d8 );
    border-color:  #fbe4d8 ;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
  }
  #prova{
    background-image: linear-gradient( #522b5b, #854f6c, #dfb6b2, #fbe4d8 );
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
    margin: 0 5px;
    border-radius: 10px;
  }
  #prova:hover{
    background-color: rgb(204, 204, 4);
   transition: 0.5s;
  }
  #news{
    font-family: 'Permanent Marker', cursive;
   text-align: center;
   font-size: 2rem;
   background: -webkit-linear-gradient(45deg, #522b5b, #854f6c, #dfb6b2, #fbe4d8);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  h5{
    border: 2px solid rgba(179, 178, 178, 0.16);
    background-color: rgba(179, 178, 178, 0.16);
    box-shadow: 3px 3px rgba(99, 97, 97, 0.5);
    border-radius:5px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .btn.nuovi, #gag{
    box-shadow: 2px 2px rgba(99, 97, 97, 0.5);
  }
  .nuovi:hover{
    background-color: #dfb6b2;
    transition: 0.3s;
  }
  #gag:hover{
    background-color: #dfb6b2;
    border:2px solid #dfb6b2;
    transition: 0.3s;
  }
  .nuovi{
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid #c86b9d;
    color: #000;
    font-size: 12pt;
    background-color: #c86b9d;
  }
  #gag{
    margin-left: 45%;
    border: 2px solid #c86b9d;
    color: #000;
    font-size: 12pt;
    background-color: #c86b9d;
  }
  video{
  width: 300px;
  margin-left: 25px;

  }
  .Prenota{
    margin-top: 5px;
  }
  .contatti{
      text-decoration: underline;
      color: rgba(99, 97, 97, 0.938);
    }
    .social{
      height: 50px;
      width: 50px;
    }
    .link_social{
      text-decoration: none;
      color: black;
    }
  
    footer{
      text-align: center;
    }
  
   
  
}

@media only screen and (min-width: 600px) {
  *{
    font-size: 14pt;
  }
  #what{
    height: 30px;
    width: 30px;
  }
  .menu-toggle{
    margin-top: 3%;
  }
  
  .logo{
    height: 105px;
    width: 170px;
      padding: 0 10px;
  }
  #sidebar-wrapper{
    background-color: black;
  }
  #sidebar-brand{
    background-color: rgba(127, 117, 117, 0.423);
  }
  #prova1{
    width: 120px;
    padding-bottom: 5px;
    background-image: -webkit-linear-gradient( #522b5b, #854f6c, #dfb6b2, #fbe4d8 );
    border-color:  #fbe4d8 ;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
    border-radius: 10px;
  }
  #prova{
    background-image: linear-gradient( #522b5b, #854f6c, #dfb6b2, #fbe4d8 );
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
    margin: 0 5px;
    border-radius: 10px;
  }
  #prova:hover{
    background-color: rgb(204, 204, 4);
   transition: 0.5s;
  }
  #news{
    font-family: 'Permanent Marker', cursive;
   text-align: center;
   font-size: 2rem;
   background: -webkit-linear-gradient(45deg, #522b5b, #854f6c, #dfb6b2, #fbe4d8);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  video{
    width: 300px;
    margin-left: 25px;}
  h5{
    border: 2px solid rgba(179, 178, 178, 0.16);
    background-color: rgba(179, 178, 178, 0.16);
    box-shadow: 3px 3px rgba(99, 97, 97, 0.5);
    border-radius:5px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .btn.nuovi, #gag{
    box-shadow: 2px 2px rgba(99, 97, 97, 0.5);
  }
  .nuovi:hover{
    background-color: #dfb6b2;
    transition: 0.3s;
  }
  #gag:hover{
    background-color: #dfb6b2;
    border:2px solid #dfb6b2;
    transition: 0.3s;
  }
  .nuovi{
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid #c86b9d;
    color: #000;
    font-size: 12pt;
    background-color: #c86b9d;
  }
  #gag{
    margin-left: 45%;
    border: 2px solid #c86b9d;
    color: #000;
    font-size: 12pt;
    background-color: #c86b9d;
  }
  .Prenota{
    margin-top: 5px;
  }
  .contatti{
      text-decoration: underline;
      color: rgba(99, 97, 97, 0.938);
    }
    .social{
      height: 50px;
      width: 50px;
    }
    .link_social{
      text-decoration: none;
      color: black;
    }
  
    footer{
      text-align: center;
    }
  
}

@media only screen and (min-width: 1200px) {
  .menu-toggle{
    margin-top: auto;
  }
  #what{
    height: 30px;
    width: 30px;
  }
  .carousel-item{
    width: 50%;
    align-items: center;
    margin-left: 25%;
  }
  #prova1{
    margin-left: 33%; 
  }
  .carousel-control-prev{
    opacity: 100%;
    margin: 0 20%;
  }
  .carousel-control-prev-icon{
    color: black;
  }
  .carousel-control-next{
    color: #000;
    opacity: 100%;
    margin: 0 20%;
  }
  #noi{
    margin-left: 90%; 
    width: 25%;
  }
  .btn.nuovi, #gag{
    box-shadow: 2px 2px rgba(99, 97, 97, 0.5);
  }
  .nuovi:hover{
    background-color: #dfb6b2;
    transition: 0.3s;
  }
  #gag:hover{
    background-color: #dfb6b2;
    border:2px solid #dfb6b2;
    transition: 0.3s;
  }
  .nuovi{
    margin-left: 150px;
    margin-top: 5px;
    border: 2px solid #c86b9d;
    color: #000;
    font-size: 12pt;
    background-color: #c86b9d;
  }
  #gag{
margin-right: 150px;
margin-left: 750px;
margin-top: 30px;
    border: 2px solid #c86b9d;
    color: #000;
    background-color: #c86b9d;
  }
  video{
    margin-left:500px;}
  #maestri{
    margin-left: 50%; 
  }
  .cap{
    margin-left: 65%;
    width: 80%;
  }
}